<navbar></navbar>

<style>
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  .founder-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }


  .founder-container{
    width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

</style>
<div class="container about-container">
  <h1>The Company</h1>
  <p>Drunk and Hungry is an online delivery company based out of Athens, GA. We deliver a variety of party supplies and convenience store goods. We have multiple drivers roving around your delivery area. Each driver has all of the inventory we offer in their car with them at all times.  When you order online we dispatch the nearest driver to you.  This way we are able to deliver fun stuf in record time.</p>
  <h1>About us</h1>
  <p>Drunk and Hungry was founded out of our personal desire to have things delivered to us while we are all boozed up late at night--acheiving this has been a consistent problem.  We are two brothers who grew up together in Athens, GA. We like computers, moderate to severe boozing and pretty much anything Star Trek. </p>
  <p>We are open Thursday-Saturday 10pm-4am</p>

  <!--
  <div class="founder-wrapper">
  <div class="founder-container">
    <img src="../images/lucasface.jpg" class="img-responsive">
    <h3>Lucas Noah</h3>
  </div>
  <div class="founder-container">
    <img src="../images/zackface.jpg" class="img-responsive">
    <h3>Zack Noah</h3>
  </div>
    </div>
-->

  <h1>Contact Us</h1>
  <address>
    Email us at:  <a href="mailto:drunkandhungry.me@gmail.com">drunkandhungry.me@gmail.com</a>.<br>
  </address>
</div>

