<div class="col-xs-12 col-sm-8">

<h1>Login</h1>
<h3>Don't have an account? <a href="/signup">Sign Up</a></h3>
<form ng-submit="onSubmitUser()" name="loginForm" novalidate>
  <span us-spinner spinner-key="spinner-1"></span>

      <formly-form model="loginData" fields="loginFields">
        <button type="submit" class="btn red-button" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
        </br>
        <button class="btn btn-LG btn-facebook" ng-click="loginWithFacebook()"><span class="fa fa-facebook"></span> LOGIN WITH FACEBOOK</button>
      </formly-form>
      <span>{{errorMessage}}</span>

</form>
<div>
  <p>Forget your password? <a ng-href="#/reset">Reset</a> it here.</p>
</div>

</div>
