<style>
   .order-header-text {
    font-weight: 300;

    font-size: 5.5em;
    letter-spacing: 2px;
    font-family: Bungee Inline, cursive;
    font-weight: 400;

  }
</style>

<div class="container">
  <h1 class="order-header-text">Your order is on it's way!</h1>
  <h2>Surfs up DUDE!  Your order is coming right at you.</h2>
  <h2>Our Delivery Process:</h2>
   <ul>
     <li>Two minutes before the driver is about to arrive you will receive a text message.</li>
     <li>Come on outside then and the driver will hand off the GOODS.</li>
     <li>If you are not there the driver will leave the package at your doorstop.  WE DO NOT WAIT FOR YOU TO COME OUT.</li>
     <li>We take a picture of the delivered goods sitting on your doorstep to let you know that they have arrived.</li>
     <li>View your delivered goods and order history <a href="/orders">here</a>.</li>
   </ul>

  <h2>Why we don't wait for you.</h2>
  <p>The only way that we can maintain the speed of our delivery service is by not waiting for you to come out and grab the package. Let's face it, you are probably drunk. You are probably busy partying. You might even forget that you ordered from us.  We don't blame you! We just can't afford to wait for you. So, for the sake of expediency, we don't wait.</p>

  <div>
  <img class="img-responsive" src="../images/dogspeeding.jpg">
  </div>
</div>
