<style>
  .center-container {
  height: 750px;
  background-color: white;
}

.centered-image-div {
    height: 100%;
    background-image: url("../images/americanbeer.png");
    background-color: transparent;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
}
    .list-container {
    font-family: 'Poiret One';
    font-weight: 200;
    font-size:1.7em;
    color: black;

  }


.text-container-box-splash{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left:10%;
    font-size:1em;
    font-family: 'myriad-pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    color:#242424;
}

  .text-container-box-splash small {
    font-family:Bungee;
    color: black;
  }

  .discount-container{
    padding-top:2px;
    padding-bottom:0px;


  }

  .the-discount{
    font-family: Bungee Inline, cursive;
    font-weight: 400;
    color: red;
  }
  .the-code{
    font-family: Bungee Inline, cursive;
    font-weight: 400;
    color: lawngreen;
  }

  .headline{
    font-size: small;
  }
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }


</style>

<div class="center-container hidden-sm hidden-xs">
  <div class="splash-container hidden-sm hidden-xs col-xs-8">


     <div class="text-container-box-splash col-xs-12">


        <div class="col-xs-12 headline noselect">
       <h1 style="font-family:Bungee;">It's Late....</h1>
          <h1 style="font-family:Bungee;">Your'e Drunk</h1>
       <!--<h1 style="font-family:Bungee" >You're Drunk</h1>-->
       </div>

       <div class="col-sm-12 headline noselect">
         <h1 style="font-family:Bungee">We're open <small>10pm-4:00am</small></h1>
       </div>

      <div class="list-container noselect">
        <div class="col-sm-12">
       <p>Party Supplies, Cigarettes, Snacks, Drinks, Frozen Food and Condoms delivered in under 20 minutes with no added delivery fee.</p>
          <div class="discount-container">
            <span class="the-discount">40% off</span><span> for first time users with the coupon code: </span><span class="the-code">FIRST-TIME-BRO</span>
          </div>
          </div>
        </div>
       <div class="col-sm-12">
        <h1 style="font-family: Bungee Inline, cursive; font-weight: 400; font-size: 1.8em;">Drunk And Hungry</h1>
         </div>
       <google>
       </google>

</div>


    </div>
  <div class="centered-image-div hidden-xs col-sm-4 noselect">
</div>

  </div>
