<style>

  .text-container-box-splash h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 5.5em;
    letter-spacing: 2px;
  }

  .text-container-box-splash p {
    font-size: 2em;

  }

  .text-container-box-splash input {
    font-family: 'myriad-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border-radius: 0px;
    border: 1px solid black;
    font-size: 2em;
    vertical-align: top;
  }

  .text-container-box-splash button {
    overflow: hidden;
  }


  .middle-div {
    text-align: center;

  }


.cell-splash-container{
   min-height:28em;
   padding-top:.5em;
   padding-bottom:1em;
  text-align: center;
}



.cell-google-container button{
  font-weight: 300;
}


  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }

  .cell-google-container{
    margin-top:2%;
    width:100%;
    display:flex;
  }

  .cell-google-div{
    width:100%
  }



  .cell-header-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detail-container{
    width: 78%;
    margin-top:2rem;
    text-align:center;
    font-size: xx-large;
    font-family: Roboto, cursive;
    font-weight: 400;
  }


  .cell-splash-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cell-splash-container{

    max-width: 800px;
  }

  .infograph-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top:5%;
    padding-left:10px;
  }

</style>
<navbar></navbar>
<div class="cell-splash-wrapper">
<div class="cell-splash-container">
<div class="cell-header-text-container">


  <div class="detail-container">

    <h3>Party Supplies, Cigarettes, Snacks, Drinks, Frozen Food and Condoms delivered in under 20 minutes until 4:30am with no added delivery fee.</h3>
  </div>

</div>



  <div class="cell-google-container">
    <google class="cell-google-div">
    </google>
  </div>

  <div class="infograph-container">
    <img src="../images/infograph.png" class="img-responsive">
  </div>

</div>
</div>


<div class="container-fluid">

<div class="middle-div col-xs-12  hidden-md hidden-sm hidden-xs">
  <h1>Now Serving: Athens GA</h1>
  <h3>{{ openHours }}</h3>
  <h3>ALL DAY ON GAME DAYS!</h3>

</div>

<!--

  <div class="Aligner">
    <div class="section hidden-sm hidden-xs noselect">
    <div class="Aligner-item Aligner-item-top">

    </div>


    <div class="Aligner-item noselect">
      <h1 class="teaser-header-text">Get Your Snack On!</h1>
      <div class="inner-aligner">
        <div class="teaser-images">
          <img src="../images/cheesits.jpg" class="teaser-images">
        </div>
        <div class="teaser-images">
          <img src="../images/pringles.jpg" class="teaser-images">
        </div>
        <div class="teaser-images">
          <img src="../images/hotfries.jpg" class="teaser-images">
        </div>

      </div>

    </div>

    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>

</div>

  <div class="Aligner hidden-sm hidden-xs noselect">
    <div class="Aligner-item Aligner-item--top">

    </div>


    <div class="Aligner-item">
      <h1 class="teaser-header-text">Party Harder!</h1>
      <div class="inner-aligner">
        <div class="teaser-images">
          <img src="../images/beerpongkit.jpg" class="teaser-images">
        </div>
        <div class="teaser-images">

          <img src="../images/redbull.jpg" class="teaser-images">
        </div>
        <div class="teaser-images">
          <img src="../images/zaggwrap.jpg" class="teaser-images">
        </div>

      </div>

    </div>

    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>

-->
</div>



<beer-loader></beer-loader>
