<style>
  .support-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .faq-section{
    width:100%;
  }

  .faq-item{
    border-bottom: 1px solid black;
    width:100%;
  }

  .faq-item p{
    margin-left: 2rem;
  }


</style>
<navbar></navbar>

<div class="container support-container">

  <h1>F.A.Q</h1>
  <div class="faq-section">
    <div class="faq-item">
      <h2>Is this a real thing?</h2>
      <p>YES. 100% YES. THIS IS A REAL THING.</p>
    </div>
    <div class="faq-item">
      <h2>When are you open?</h2>
      <p>We are open 10pm-4am, Thursday-Saturday.</p>
    </div>
    <div class="faq-item">
      <h2>Is there a delivery fee?</h2>
      <p>There are no delivery fees at all, but we do require that you make a minimum order of at least 10$.</p>
    </div>
    <div class="faq-item">
      <h2>Do you sell alcohol?</h2>
      <p>Nope. The delivery of alchohol is not permitted in Athens-Clarke County.</p>
    </div>
    <div class="faq-item">
      <h2>Where can I contact you with questions about my order?</h2>
      <p>You can email us at <a href="mailto:drunkandhungry.me@gmail.com">drunkandhungry.me@gmail.com</a>. We are extremely responsive during operating hours.</p>
    </div>
    <div class="faq-item">
      <h2>Will you sell me illegal drugs?</h2>
      <p>NO!! Though we are firm believers in the decriminalisation of drugs, GA has some of the most extreme punishments in the Uninted States for the sale of illegal drugs. We don't really want to go to jail 4EVER.</p>
    </div>
    <div class="faq-item">
      <h2>How fast is delivery?</h2>
      <p>Delivery usually takes between 20-30 minutes depending on how busy we are.</p>
    </div>
  </div>
</div>

